body{
  background-color: hsl(229, 57%, 11%);
  margin: 0;
}

p{
  color: white;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.background{
  width: 100%;
  position: absolute;
  bottom:0;
}

.banner1{
  background-color: hsl(228, 56%, 26%);
  display: inline-block;
  width: 20.5rem;
  height: 11.7rem;
  border-radius: 13px 100px 13px 13px;
  position: absolute;
  top: 36%;
  left: 20%;
  Box-shadow:0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.23);
}

.banner2{
  background-color: hsl(228, 56%, 26%);
  display: inline-block;
  width: 30rem;
  height: 9rem;
  border-radius: 13px 13px 13px 13px;
  position: absolute;
  top: 42%;
  left: 43%;
  Box-shadow:0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.23);
}

.fylo{
  position: absolute;
  display: inline-block;
  left: 1.9rem;
  top: 1.9rem;
  padding: 0.5rem;

}

.doc{
  position: absolute;
  top: 6.5rem;
  left: 2.4rem;
  background-color: hsl(229, 57%, 11%);
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 10px;
}

.doc-icon{
  position: absolute;
  top: 0.62rem;
  left: 0.80rem;
}

.folder{
  position: absolute;
  top: 6.5rem;
  left: 6rem;
  background-color: hsl(229, 57%, 11%);
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 10px;
}

.folder-icon{
  position: absolute;
  top: 0.7rem;
  left: 0.60rem;
}

.upload{
  position: absolute;
  top: 6.5rem;
  left: 9.6rem;
  background-color: hsl(229, 57%, 11%);
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 10px;
}

.upload-icon{
  position: absolute;
  top: 0.8rem;
  left: 0.60rem;
}

.top-text{
  position: absolute;
  top: 1.5rem;
  left: 1.7rem;
}

.slider {
  display: inline-block;
  height: 0.5rem;
  width: 20.375rem;
  border-radius: 10px;
  background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
  position: absolute;
  top: 4.5rem;
  left: 2.05rem;
}

.slider-background{
  display: inline-block;
  height: 0.9rem;
  width: 25rem;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  position: absolute;
  top: 4.3rem;
  left: 1.83rem;
}

.knob{
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  height: 0.36rem;
  width: 0.36rem;
  top: 4.565rem;
  left: 21.97rem;
}

.sl-text1{
  position: absolute;
  top: 4.9rem;
  left: 1.8rem;
}

.sl-text2{
  position: absolute;
  top: 4.9rem;
  left: 23.3rem;
}



.rectangle{
  background-color: white;
  position: absolute;
  width: 9rem;
  height: 3.8rem;
  border-radius: 10px;
  top: -2rem;
  left: 18.9rem;
}

.percentage-text{
  color: black;
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  bottom: -1rem;
  left: 1.6rem;
}

.gray-text{
  color: hsl(229, 7%, 55%);
  weight: 700;
  position: absolute;
  left: 5.2rem;
  top: 0.8rem;
  font-size: 11px;
}

.triangle{
  position: absolute;
  width: 0rem;
  height: 0rem;
  left: 25.9rem;
  border-top: 2rem solid transparent;
  border-right: 2rem solid white;
  border-bottom: 2rem solid transparent;
  top: -1rem;
}
